@import url('https://fonts.googleapis.com/css2?family=Ramabhadra&family=Roboto:wght@300&family=Ubuntu&display=swap');

.s h1 {
    color: black;
    margin-left: 50px;
}

.job-center-main {
    width: 100%;
    display: flex;
    align-items: center;
}

.s {
    background-color: white;
}


.h55 {
    color: black;
}

.textMain {
    display: flex;
    margin-bottom: 52px;
    flex-direction: column;
    align-items: center;
}

.div1,
.div2,
.div3 {
    background-position: 50%;
    background-size: cover;
}

.div1 {
    background-image: url("../../assets/img/project-img1.jpg");
}

.div2 {
    background-image: url("../../assets/img/project-img2.png");
}

.div3 {
    background-image: url("../../assets/img/project-img3.jpg");
}

.div4 {
    background-image: url("../../assets/img/Resim1.jpg");
}

.div5 {
    background-image: url("../../assets/img/Resim1.jpg");
}

.div6 {
    background-image: url("../../assets/img/Resim4.jpg");
}

.div7 {
    background-image: url("../../assets/img/Resim13.jpg");
}

.div8 {
    background-image: url("../../assets/img/Resim14.jpg");
}

.div9 {
    background-image: url("../../assets/img/Resim7.jpg");
}

.div10 {
    background-image: url("../../assets/img/resim15.jpg");
}

.div11 {
    background-image: url("../../assets/img/Resim9.png");
}

.div12 {
    background-image: url("../../assets/img/Resim10.png");
}

.div13 {
    background-image: url("../../assets/img/istehsal.PNG");
}
.div14 {
    background-image: url("../../assets/img/Resim3.png");
}

.fotoCenter {
    width: 33%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto {
    background-position: 10%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 70%;
}

@media screen and (max-width: 768px) {
    
.foto-contents {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.fotoCenter {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
    .foto {
        width: 100%;
        height: 346px;
    }
    .title-center ,.title-centers{
        width: 90% !important; 
    }
}



.foto-content {
    margin-top: 20px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid white;
}

.title-center {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.title-centers {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.title {
    width: 50%;
}

.tit {
    margin-top: 50px;
    color: black;
}

.tit h2 {
    font-size: 15px;
    margin-top: 10px;
}

.red {
    color: #dbbd52;
}

.title-bot {
    font-size: 20px;
}

.foto-contents {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    width: 50%;
}