.navbarss {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: white;
    margin-right: 40px;
}
.navbarss a p{
    margin-right: 20px ;
}
a {
    list-style: none;
    text-decoration: none !important;
    color: white !important;
    
}
a:checked ~ .to-be-changed{
color: #E1C564;
}
.navbar-nav p{
    transition: 0.2s;
}
.navbar-nav p:hover{
    transition: 0.2s;
    color: #E1C564;
}


.what:hover{
    color:#E1C564;
    transition: 0.2s;
}
.navbar-text a{
    transition: 0.2s;
    color: white !important;
    font-size: 40px !important;
}
.dropdown-menu{
    text-align: center;
    --bs-dropdown-min-width: 8rem !important;
}

.dropdown-menu.show {
    top: 45px;
    right: -54px;
}
.icons{
    margin-left: 40px;
    transition: 0.2s;
}
.icons:hover{
    transition: 0.2s;
}

svg{
    transition: 0.2s;
    vertical-align: inherit !important;

}
svg:hover{
    transition: 0.2s;
   color: #E1C564;
}
.what {
    animation: shake 0.5s;
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(0eg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}



@media (max-width:768px) {
    .navbarss {
        width: 100% !important;
        display: flex;
        margin-right: 0px !important;

    }
    .navbarss a p {
        margin-right: 5px;
    }
    .icons{
        margin-left: 0px !important;
    }
    .navbar-nav {
        margin-top: 10px;
        margin-bottom: 20px;
        flex-direction: row !important;
        justify-content: space-between !important;
    }
    .dropdown-menu.show {
        top: -100px !important;
        right: -164px !important;
    }
    span.navbar-text {
        margin-top: 10px;
        justify-content: center !important;
    }

    .icons {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}